---
const { logo, dates, company, description } = Astro.props;
const image_url = `/profile/assets/images/career/${logo}`;
---

<div class="section">
  <div class="image-container">
    <img src={image_url} alt={company} />
  </div>
  <div class="text-container">
    <p class="date">{dates}</p>
    <p class="company">{company}</p>
    <p class="description">{description}</p>
  </div>
</div>

<style>
  .section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }
  .image-container {
    width: clamp(5rem, 10%, 5rem);
    max-height: 5rem;
    max-width: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
    object-fit: cover;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
  }
  .date {
    font-size: 0.8rem;
    color: gray;
    margin: 0;
  }
  .company {
    font-size: 1.0rem;
  }
  .description {
    font-size: 0.8rem;
  }
  @media (max-width: 768px) {
    .text-image__section {
      grid-template-columns: 1fr;
    }
    .text-image__image :global(:first-child) {
      float: none;
      width: 60%;
    }
  }
</style>